* {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.mainheader{
    background-color: white;
    z-index: 90;
    position: fixed;
    width: 100%;
    height: 80px;
    box-shadow: 1px 3px 5px #000098;
}

.headerdiv{
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.options{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 160px;
    height: 100%;
}

.search-bar{
    width: 70%;
}

.search-bar>div{
    width: 50%;
}

.img-logo{
    width: 200px;
    height: 70px;
}

.ophover:hover{
    cursor: pointer;
    transition-duration: .3s;
    background-color: rgba(218, 218, 218, 0.71);
}

.wpplogo{
    z-index: 99;
    position: fixed;
    right: 0;
    top: 200px;
    color: green;
    text-decoration: none;
}

.wpplogo:hover{
    color: green;
}

.main-content{  
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin-top: 90px;
    width: 100%;
    gap: 20px;
}

.category{
    position: absolute;
    z-index: 1;
    margin-top: 120px;
    width: 100%;
    padding-top: 20px;
}

.main-contentCatagory{
    gap: 30px;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.icons{
    color: inherit;
    text-decoration: none;
}

.icon-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    gap: 20px;
    height: 100%;
    width: 30%;
}

.inputContainer{
    box-shadow: 4px 4px 3px rgba(182, 181, 181, 0.658);
}

.offerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0px 14px;
    color: white;
    background-color: black;
    width: 80%;
    border-radius: 5px;
}

.offerContainer,.offerContainer>*:hover{
    cursor: pointer;
}

.offerImage{
    display: flex;
    align-items: center ;
}

.phoneImg{
    transform: rotate(-2deg);
    width: 170px;
    height: 200px;
}

.buyBtn{
    background-color: #6E4ACC;
    padding: 10px 20px;
    border-radius: 5px;
}

.knowMore{
    margin-top: 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(223, 222, 222, 0.293);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
}

.cardCategory{
    margin-top: 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(223, 222, 222, 0.293);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 280;
}

.targetContainer{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.target{
    width: 180px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}


.plansContainer{
    margin: 60px;
    width: 49%;
    display: flex;  
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}


.newcel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.newcel-container{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.newcel-container>a{
    margin-left: 120px;
}

.location-map{
    width: 100%;
    text-align: center;
}

.map-container{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.map-container>h3{
    font-weight: 900;
}

.main-footer{
    padding-top: 5px;
    color: white;
    width: 100%;
    background-color: #1C1C42;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer-div>a>svg{
    margin: 10px 10px;
}

.footer-div>a{
    color: inherit;
    text-decoration: none;
}

.copyright-div{
    width: 100%;
    align-self: flex-end;
}

.category>.main-contentCatagory>.card>img:hover{
    cursor: pointer;
}

.category>.main-contentCatagory>.card>img ,.newcel>.card>img:hover{
    cursor: pointer;
}

/*more .html*/
.infoCel_contianer{
    display: grid;
    grid-template-columns: 10% 40% 49%; /*Se crean tres columnas*/
    gap: 10px;
    width: 100%;
    padding: 10px 30px;
}

.grid_child{    
    align-content: center;
    text-align: left;
}

.target_cel{
    margin: 5px 0px;
}

.img_child{
    width: 80%;
    max-height: 500px;
}

.color-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }

  .negro { background-color: #000; color: #fff; }
  .dorado { background-color: #FFD700; color: #000; }

  .color-button:active{
    filter: brightness(.5);
  }

  .grid_components>*{
    margin-top: 20px;
  }

  .btn_comprar_ahora{
    color: white;
    background-color: blueviolet;
    border-radius: 10px;
    padding: 10px;
    border: none;
    width: 250px;
    text-align: center;
  }

  .space-button{
    border: 1px solid blueviolet;
    background-color: inherit;
    padding: 5px;
    border-radius: 10px;
    color: blueviolet;
    text-align: center;
    width: 100px;
  }

  .opciones_compra{
    padding: 10px;
    width: 80%;
    border: 1px solid rgb(173, 173, 173);
  }

  .btn_comprar_container{
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .specifics_container{
    padding: 5px;
    width: 70%;
  }

  .specifics_table{
    width: 100%;
  }

  .specifics_table>th, td{
    padding: 10px;
    width: 50%;
  }

.specifics_table>td{
    border: 1px solid #ddd;
}